<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 mt-4 pt-1 pbn-1">
            <h3 class="font-weight-normal">Código QR</h3>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12" style="margin: 0px !important; padding: 0px !important;">
            <hr class="hr-nival">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-12" style="text-align: center !important;">
            <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value"
                alt="Demo QR Code" [width]="300" cssClass="bshadow"></ngx-qrcode>
        </div>
    </div>
</div>