<form [formGroup]="oficinaForm" (ngSubmit)="onClick()">
    <h2 mat-dialog-title class="pb-1">Información:</h2>
    <div class="text-center">
        <div *ngIf="validate else barra">
        </div>
    </div>
    <div class="form-group">
        <mat-form-field appearance="standard" class="fullNivalWidth">
            <mat-label>Oficina</mat-label>
            <textarea rows="3" matInput placeholder="{{placeholder}}" formControlName="office"></textarea>
            <a class="aNival" mat-icon-button matSuffix (click)="eraser()">
                <mat-icon matSuffix>close</mat-icon>
            </a>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <button type="submit" class="btn btn-sm btn-primary fullNivalWidth"
                [disabled]="!oficinaForm.valid">Guardar</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <a class="btn btn-sm btn-danger text-white  fullNivalWidth" (click)="dimissModal()">Cancelar</a>
        </div>
    </div>
</form>

<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>