<form [formGroup]="passwordForm" (ngSubmit)="onClick()">
    <h2 mat-dialog-title class="pb-1">Eliminar Cuenta:</h2>
    <div class="text-center">
        <div *ngIf="validate else barra">
        </div>
    </div>
    <div class="form-group">
        <mat-form-field class="fullNivalWidth" appearance="standard">
            <mat-label>Contraseña Actual</mat-label>
            <input matInput #pass [type]="hide ? 'password' : 'text'" formControlName="oldPassword" spellcheck="false"
                autocomplete="off" placeholder="**********">
            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.arial-label]="'Hide password'"
                [attr.arial-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </a>
        </mat-form-field>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <button type="submit" class="btn btn-sm btn-primary fullNivalWidth"
                [disabled]="!passwordForm.valid">Guardar</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <a class="btn btn-sm btn-danger text-white  fullNivalWidth" (click)="dimissModal()">Cancelar</a>
        </div>
    </div>

</form>



<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>