.example-container {
  max-height: 67vh;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  box-sizing: border-box;
  justify-content:center;
  min-width: 100px;
  padding:2px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}




.busqueda1{
  font-size: 14px;
  width: 60%;
  padding-left: 1rem;
  padding-top: 1rem;
}


td.mat-column-Numero {
  min-width: 5px !important;
  width: 10px !important;
  padding-right: 8px;
}
td.mat-column-Nombre {
  width:300px;
  padding-right: 8px;
  min-width: 300px;
}
td.mat-column-Imagen {
  width:30px !important;
  padding-right: 8px;
  min-width: 30px !important;
}