<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12  col-lg-12 col-12 mx-auto mt-4">
            <div class="mx-auto rounded-circle" [ngStyle]="{'background-image':'url('+perfil+')'}" id="imagePerfil">
                <a class="float-right text-info">
                    <i class="fa fa-image pb-1 fa-nival fa-lg" (click)="openPhoto()"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 text-center my-2">
            <div class="my-1">
                <h1 class="font-weight-normal" id="font-p">{{nombre+' '+ apellido}}</h1>
                <p class="font-weight-normal" id="fontNival-p">{{correo}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div class="bd-callout bd-callout-default w-100">
                <h2><i class="fas fa-user fa-xs fa-nival pb-1"></i> Información:</h2>
                <div class="bg-light">
                    <h3 class="pl-1"> Descripción:
                        <a class="float-right text-info p-1" (click)="openInfoModal()">
                            <i class="far fa-edit"></i>
                        </a>
                    </h3>
                    <p class="font-weight-light pl-1" id="fontNival-p">{{informacion}}</p>
                </div>
                <div class="bg-light">
                    <h3 class="pl-1"> Nombres:
                        <a class="float-right text-info p-1" (click)="openNombreModal()">
                            <i class="far fa-edit"></i>
                        </a>
                    </h3>
                    <p class="font-weight-light pl-1" id="fontNival-p">{{nombre}}</p>
                </div>
                <div class="bg-light">
                    <h3 class="pl-1"> Apellidos:
                        <a class="float-right text-info p-1" (click)="openApellidoModal()">
                            <i class="far fa-edit"></i>
                        </a>
                    </h3>
                    <p class="font-weight-light pl-1" id="fontNival-p">{{apellido}}</p>
                </div>
                <div class="bg-light">
                    <h3 class="pl-1"> Oficina:
                        <a class="float-right text-info p-1" (click)="openOficinaModal()">
                            <i class="far fa-edit"></i>
                        </a>
                    </h3>
                    <p class="font-weight-light pl-1" id="fontNival-p">{{oficina}}</p>
                </div>
                <div class="bg-light my-3">
                    <h3 class="pl-1"> Contraseña:
                        <a class="float-right text-info p-1" (click)="openPasswordModal()">
                            <i class="far fa-edit"></i>
                        </a>
                    </h3>
                </div>
                <div class="bg-light">
                    <h3 class="pl-1"> Eliminar Cuenta
                        <a class="float-right text-danger p-1" (click)="openDeleteModal()">
                            <i class="fas fa-trash-alt mx-1"></i>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">

            <div class="bd-callout bd-callout-default w-100">
                <h2><i class="fas fa-clock fa-xs fa-nival pb-1"></i> Periodo Lectivo:
                    <a class="float-right text-info" (click)="openAnioLectivoModal()">
                        <i class="far fa-edit"></i>
                    </a>
                </h2>
                <div class="bg-light">
                    <p class="font-weight-light pl-1" id="fontNival-p">
                        Inicio: {{AnioLectivoInicio}}
                    </p>
                </div>
                <div class="bg-light">
                    <p class="font-weight-light pl-1" id="fontNival-p">
                        Fin: {{AnioLectivoFin}}
                    </p>
                </div>
            </div>

            <div class="bd-callout bd-callout-default w-100">
                <h2><i class="fas fa-list fa-xs fa-nival pb-1 pr-1"></i>Materias:
                    <a class="float-right text-info" (click)="openMateriaModal()">
                        <i class="far fa-plus-square"></i>
                    </a>
                </h2>

                <div class="bg-light" *ngFor="let materia of materias; let i = index">
                    <p class="font-weight-light pl-1" id="fontNival-p"><strong>{{i+1+'.'}}</strong>
                        {{materia.data.nombre}}
                        <a class="float-right text-danger" (click)="openEliminarMateriaModal(materia.data.nombre,materia.id,materia.data)"
                            *ngIf="val">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="float-right text-info" (click)="openEditMateriaModal(materia.data.nombre,materia.id)"
                            *ngIf="val">
                            <i class="far fa-edit pr-2"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="bd-callout bd-callout-default w-100 my-2">
                <h2><i class="fas fa-book pr-1 fa-xs fa-nival pb-1"></i>Cursos:
                    <a class="float-right text-info" (click)="openCurso()">
                        <i class="far fa-plus-square"></i>
                    </a>
                </h2>
                <div class="bg-light" *ngFor="let curso of cursoCompleto; let i = index">
                    <p class="font-weight-light pl-1" id="fontNival-p"><strong>{{i+1+'.'}}</strong>
                        {{curso.nombre}}
                        <a class="float-right text-danger" (click)="openEliminarCursoModal(curso.nombre,curso.uidNomina,curso.image,curso.idMateria,curso.array)"
                            *ngIf="val">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="float-right text-info" (click)="editarCurso(curso.idCurso)"
                            *ngIf="val">
                            <i class="far fa-edit pr-2"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>