
.example-container {
    max-height: 55vh;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    box-sizing: border-box;
    text-align: center;
    justify-content:center;
    padding: 5px !important;
  }
  
  td.mat-column-fila {
    width: 100px;
    padding-right: 15px;
  }

  