
.busqueda1{
  font-size: 14px;
  width: 60%;
  padding-left: 1rem;
  padding-top: 1rem;
}
.example-container {
    max-height: 46vh;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    box-sizing: border-box;
    text-align: center;
    justify-content:center;
    padding: 5px !important;
  }
  
  td.mat-column-fila {
    width: 20px;
  }
  