<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-6 col-md-6 col-lg-6 col-6 mt-4 pt-1 pbn-1">
            <h3 class="font-weight-normal">Mis Clases</h3>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-6 mt-4 pt-1 pbn-1">
            <a [routerLink]="['/curso']" class="float-right btn-nival pt-1">
                <i class="far fa-plus-square pr-1"></i>Agregar Clase
            </a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12" style="margin: 0px !important; padding: 0px !important;">
            <hr class="hr-nival">
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-3" *ngFor="let curso of cursoVista">
            <div class="card">
                <a (click)="openPhoto(curso.image)">
                    <img class="card-img-top card-image-nival" [src]="curso.image" fallimg alt="Imagen curso">
                </a>
                <div class="card-body card-title-nival m-2">
                    <button type="button" class="btn btn-light btn-sm" (click)="openCurso(curso.idCurso)">{{curso.nombre}}</button>
                    <a class="float-right text-info p-1">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="float-right text-danger p-1">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>