<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-6 col-md-6 col-lg-6 col-6 mt-4 pt-1 pbn-1">
            <h3 class="font-weight-normal">Mis Clases</h3>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-6 mt-4 pt-1 pbn-1">
            <a [routerLink]="['/curso']" class="float-right btn-nival pt-1">
                <i class="far fa-plus-square pr-1"></i>Agregar Clase
            </a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12" style="margin: 0px !important; padding: 0px !important;">
            <hr class="hr-nival">
        </div>
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a [routerLink]="['/curso']">
                <div class="card card-background-nival">
                    <img class="card-img-top card-image-nival" src="../../../assets/books.jpg" fallimg alt="Card image cap">
                    <div class="card-body card-title-nival">
                        <h3 class="card-title text-center">Nueva Clase</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a>
                <div class="card">
                    <img class="card-img-top card-image-nival" src="../../../assets/clase.jpg" fallimg alt="Card image cap">
                    <div class="card-body card-title-nival">
                        <h3 class="card-title text-center">Special title treatment</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a>
                <div class="card">
                    <img class="card-img-top card-image-nival" src="" fallimg alt="Card image cap">
                    <div class="card-body card-title-nival">
                        <h3 class="card-title text-center">Special title treatment</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>