<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mt-4"></a>
</nav>
<div class="container mt-4 container-nival">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 pt-1">
            <h3 class="font-weight-normal">
                <i class="fas fa-calendar-day pr-1 fa-nival fa-sm"></i>Horario</h3>
            <hr class="hr-nival">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-12 mb-1 mpn-1">
                <div class="example-container mat-elevation-z3">
                    <mat-form-field appearance="standard" class="busqueda1" style="padding-top: 0px !important;">
                        <mat-label>Buscar</mat-label>
                        <input matInput autocomplete="off" (keyup)="applyFilter($event)"
                            placeholder="Ejemplo GR3 o Filosofía" #input>
                            <a class="aNival" mat-icon-button matSuffix (click)="limpiarBusqueda(input)">
                                <mat-icon matSuffix>close</mat-icon>
                            </a>
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="hora" sticky>
                            <th mat-header-cell *matHeaderCellDef> Hora. </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora}}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="lunes">
                            <th mat-header-cell *matHeaderCellDef> Lunes </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let l = index;">

                                <a class="text-center" (click)="openCurso(element.Lid)">
                                    <p class=" rounded p-1 text-white mt-2 aNival"
                                        [style.background-color]="element.LC">
                                        {{element.lunes}}
                                    </p>
                                </a>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="martes">
                            <th mat-header-cell *matHeaderCellDef> Martes </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let m = index;">
                                <a class="text-center" (click)="openCurso(element.Mid)">
                                    <p class=" rounded p-1 text-white mt-2 aNival"
                                        [style.background-color]="element.MC">
                                        {{element.martes}}
                                    </p>
                                </a>

                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="miercoles">
                            <th mat-header-cell *matHeaderCellDef> Miercoles </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let mi = index;">
                                <a class="text-center" (click)="openCurso(element.Miid)">
                                    <p class=" rounded p-1 text-white mt-2 aNival"
                                        [style.background-color]="element.MiC">
                                        {{element.miercoles}}
                                    </p>
                                </a>

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="jueves">
                            <th mat-header-cell *matHeaderCellDef> Jueves </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let j = index;">
                                <a class="text-center" (click)="openCurso(element.Jid)">
                                    <p class=" rounded p-1 text-white mt-2 aNival"
                                        [style.background-color]="element.JC">
                                        {{element.jueves}}
                                    </p>
                                </a>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="viernes">
                            <th mat-header-cell *matHeaderCellDef> viernes </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let v = index;">
                                <a class="text-center" (click)="openCurso(element.Vid)">
                                    <p class=" rounded p-1 text-white mt-2 aNival"
                                        [style.background-color]="element.VC">
                                        {{element.viernes}}
                                    </p>
                                </a>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="5">No se ha encontrado: "{{input.value}}"</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>