<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-4 pt-1">
            <h3 class="font-weight-normal">Horario</h3>
            <hr class="hr-nival">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center"><i class="fas fa-clock"></i></th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miercoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-center">7:00</th>
                        <td>Matematicas</td>
                        <td>ciencias</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>