<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-4 pt-1">
            <h3 class="font-weight-normal">Horario</h3>
            <hr class="hr-nival">
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-bordered ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col"><i class="fas fa-clock"></i></th>
                        <th scope="col">LUNES</th>
                        <th scope="col">MARTES</th>
                        <th scope="col">MIÉRCOLES</th>
                        <th scope="col">JUEVES</th>
                        <th scope="col">VIERNES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td class="tdNival" (click)="openCurso()">Matemáticas</td>
                        <td class="tdNival">Física</td>
                        <td class="tdNival">1</td>
                        <td class="tdNival">1</td>
                        <td class="tdNival">1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>