table th td{
    padding: .5rem;
    text-align: center;
    cursor: pointer !important;
    
}

tr { text-align: center; }

.tdNival:hover {
color: white !important;
background-color: #5bc0de;
cursor: pointer;
}

table { width: 100%; font-size: 14px;}

.container-nival{
    min-height: 70vh;

}

.hr-nival{
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.aNival:hover{
    opacity: 0.5 !important;
}

/*material*/
.example-container {
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    box-sizing: border-box;
    text-align: center;
    justify-content:center;
  }
  
  td.mat-column-hora {
    width: 100px;
    padding-right: 8px;
  }
  
  td.mat-column-lunes {
    width: 200px;
    padding-right: 8px;
  }
  td.mat-column-martes {
    width:200px;
    padding-right: 8px;
  }
  td.mat-column-miercoles {
    width: 200px;
    padding-right: 8px;
  }
  td.mat-column-jueves {
    width: 200px;
    padding-right: 8px;
  }
  td.mat-column-viernes {
    width: 200px;
    padding-right: 8px;
  }
  

