<div class="container mt-5 container-nival">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 mt-4 pt-1 pbn-1">
            <h2 class="font-weight-normal">
                <i class="fa fa-files-o pr-1 pb-1 fa-nival fa-sm"></i>
                Reporte de Asistencia de {{nombreMateria}}</h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12" style="margin: 0px !important; padding: 0px !important;">
            <hr class="hr-nival">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-6 pt-1 pbn-1">
            <a style="text-decoration: none;" [routerLink]="['/reporte-general', dataId]">
                <i class="fa fa-file-excel-o pr-1 fa-nival fa-sm"></i>Descargar Reporte
            </a>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mt-4 col-12 mb-1">
                <div class="example-container mat-elevation-z3">
                    <mat-form-field class="busqueda1">
                        <mat-label>Buscar</mat-label>
                        <input matInput autocomplete="off" (keyup)="applyFilter($event)"
                            placeholder="Ejemplo 201720 o Pepito Perez" #input>
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource" #tabla1>

                        <!-- Numero de fila -->
                        <ng-container matColumnDef="fila">
                            <th mat-header-cell *matHeaderCellDef> N° </th>
                            <td mat-cell *matCellDef="let element ,let i = index;"> {{i+1}}
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="codigoUnico">
                            <th mat-header-cell *matHeaderCellDef> Codigo único </th>
                            <td mat-cell *matCellDef="let element"> {{element.codigoUnico}}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let l = index;">

                                <a class="text-left">
                                    <p class=" rounded p-1 mt-2">
                                        {{element.nombre}}
                                    </p>
                                </a>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="asistencia">
                            <th mat-header-cell *matHeaderCellDef> Asistencia </th>
                            <td class="px-1" mat-cell *matCellDef="let element, let p = index;">
                                <a class="text-center">
                                    P
                                </a>
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="5">No se ha encontrado: "{{input.value}}"</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>