<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mt-4"></a>
</nav>
<div class="container mt-4 container-nival" *ngIf="validate else barra">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 pt-1">
            <h3 class="font-weight-normal">¡Te damos la bienvenida, {{nombre}}!</h3>
            <hr class="hr-nival">
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 pt-2">
            <a [routerLink]="['/perfil']">
                <div class="card card-icon-nival" style="background-color: #3f51b5;">
                    <i class="fas fa-user-tie fa-10x"></i>
                    <h4 class="card-title text-center">MI PERFIL</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 pt-2">
            <a [routerLink]="['/curso-group']">
                <div class="card card-icon-nival" style="background-color:rgb(217,73,73);">
                    <i class="fas fa-chalkboard-teacher fa-10x" ></i>
                    <h4 class="card-title text-center">MIS CLASES</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 pt-2">
            <a [routerLink]="['/horario']">
                <div class="card card-icon-nival" style="background-color: rgb(226, 182, 87);">
                    <i class="fa fa-calendar fa-10x"></i>
                    <h4 class="card-title text-center pt-1">MI HORARIO</h4>
                </div>
            </a>
        </div>
    </div>
</div>


<ng-template #barra>
    <div class="spinnerA">
        <span class="spinnerB">
            <mat-spinner [strokeWidth]='5'></mat-spinner>
        </span>
    </div>

</ng-template>