img:hover {
    filter: brightness(80%);
    transition: filter .5s;
}
.card-img-top{
    object-fit: cover;
    vertical-align: middle;
   text-align: center;
}

a{
    color: black;
    border: 0px !important;
}
a:hover{
    text-decoration: none;
}

.card{
    border: 0px !important;
}

/*iconos grandes*/
.card-icon-nival{
    font-size: 0.5rem;
    /* top, rigth,bottom,left*/
    padding: 3.5rem 10px 3.5rem 10px;
    align-items: center;
    color: white;
}


@media screen and (min-width: 0px) and (max-width: 360px){
    .card-icon-nival{
        font-size: 0.3rem;
        padding: 2
        1.8rem 10px 1.8rem 10px;
    }
}
@media screen and (min-width: 360px) and (max-width: 576px){
    .card-icon-nival{
        font-size: 0.4rem;
        padding: 1.8rem 10px 1.8rem 10px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .card-icon-nival{
        font-size: 0.4rem;
        padding: 1.8rem 10px 1.8rem 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .card-icon-nival{
        font-size: 0.5rem;
        padding: 2rem 10px 2rem 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .card-icon-nival{
        font-size: 0.5rem;
        padding: 3.5rem 10px 3.5rem 10px;
    }
}

.container-nival{
    min-height: 70vh;

}




