<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mt-4"></a>
</nav>
<div class="container mt-5 container-nival">
    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-7 mx-auto mt-5">
            <div class="card" *ngIf="user$ | async as user; else loading">
                <!--"-->
                <div class="card-body">
                    <div class="text-center m-2">
                        <a class="navbar-brand" routerLink="/" style="margin: 0px; padding: 0px;">
                            <img src="../../../assets/logo5.PNG" id="logo" alt="nival">
                        </a>
                    </div>
                    <h3 class="card-title text-center mt-5">
                        Gracias Por Registrarte
                    </h3>
                    <div class="form-group mt-2">
                        <p class="text-center">
                            Te hemos enviado un correo a
                            <strong>{{user?.email}}</strong>
                            <br>
                            Para reenviar nuevamente el enlance a tu correo, haz clik aquí
                        </p>
                    </div>
                    <div class="form-group text-center mt-3">
                        <button class="btn btn-success btn-sm" (click)="onSendEmail()">Reenviar verificacion de correo</button>
                    </div>

                    <div class="form-group text-center mt-2">
                        <button class="btn btn-primary btn-sm" (click)="back()">Atrás</button>
                    </div>
                </div>
            </div>
            <ng-template #loading>
                Loading....
            </ng-template>
        </div>
    </div>
</div>