<form [formGroup]="aulaForm" (ngSubmit)="onClick()">
    <h2 mat-dialog-title class="pb-1">Editar Aula:</h2>
    <div class="text-center">
        <div *ngIf="validate else barra">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 my-1">
            <div class="form-group">
                <mat-form-field appearance="standard" class="input-modal">
                    <mat-label>Nombres</mat-label>
                    <input matInput [type]="'text'" autocomplete="off" placeholder={{placeholder}} spellcheck="false" formControlName="aula" required>
                    <a class="aNival" mat-icon-button matSuffix (click)="limpiarNombre()">
                        <mat-icon matSuffix>close</mat-icon>
                    </a>
                  </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <a class="btn btn-sm btn-danger text-white  fullNivalWidth" (click)="dimissModal()">Cancelar</a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <button type="submit" class="btn btn-sm btn-primary fullNivalWidth" [disabled]="!aulaForm.valid">Guardar</button>
        </div>
    </div>
</form>

<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>