<form [formGroup]="estudianteForm" (ngSubmit)="onClick()">
    <h2 mat-dialog-title class="pb-1">Editar Estudiante:</h2>
    <div class="text-center">
        <div *ngIf="validate else barra">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 my-1">
            <div class="form-group">
                <mat-form-field hintLabel="Codigo único otorgado por la institución" appearance="standard"
                    class="fullNivalWidth">
                    <mat-label>Codigo Único</mat-label>
                    <input matInput #codigoU [type]="'text'" autocomplete="off" maxlength="9"
                        placeholder={{placeholderCodigo}} formControlName="codigoUnico"
                        oninput="if(this.value.length > this.maxLength) this.value=this.value.slice(0,this.maxLength);"
                        (keypress)="IngresarSoloNumeros($event)" required>
                    <mat-hint align="end">{{codigoU.value?.length || 0}}/9</mat-hint>
                    <a class="aNival" mat-icon-button matSuffix (click)="limpiarNumero()">
                        <mat-icon matSuffix>backspace</mat-icon>
                    </a>
                    <mat-error *ngIf="estudianteForm.controls['codigoUnico'].invalid">No puede ingresar letras</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 my-1">
            <div class="form-group">
                <mat-form-field appearance="standard" class="input-modal">
                    <mat-label>Nombres</mat-label>
                    <input matInput [type]="'text'" autocomplete="off" placeholder={{placeholder}} spellcheck="false"
                        formControlName="estudiante" required (keypress)="IngresarSoloLetras($event)">
                    <a class="aNival" mat-icon-button matSuffix (click)="limpiarNombre()">
                        <mat-icon matSuffix>backspace</mat-icon>
                    </a>
                    <mat-error *ngIf="estudianteForm.controls['estudiante'].invalid">No puede ingresar números</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 my-1">
            <div class="form-group">
                <mat-form-field hintLabel="Correo otorgado por la institución" appearance="standard"
                    class="fullNivalWidth">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput [type]="'email'" autocomplete="off" spellcheck="false"
                        placeholder="{{placeholderCorreo}}" formControlName="email" required>
                    <a class="aNival" mat-icon-button matSuffix (click)="limpiarCorreo()">
                        <mat-icon matSuffix>backspace</mat-icon>
                    </a>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <button type="submit" class="btn btn-sm btn-primary fullNivalWidth"
                [disabled]="!estudianteForm.valid">Guardar</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 my-1">
            <a class="btn btn-sm btn-danger text-white  fullNivalWidth" (click)="dimissModal()">Cancelar</a>
        </div>
    </div>
</form>

<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>