<form [formGroup]="infoForm" (ngSubmit)="onClick()">
    <h2 mat-dialog-title class="pb-1">Información:</h2>
    <div class="text-center">
        <div *ngIf="validate else barra">
        </div>
    </div>
    <div class="form-group">
        <mat-form-field class="fullNivalWidth">
            <mat-label>Descríbete</mat-label>
            <textarea rows="3" matInput placeholder={{placeholder}} formControlName="info"></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 my-1">
            <button type="submit" class="btn btn-sm btn-primary fullNivalWidth"
                [disabled]="!infoForm.valid">Guardar</button>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 my-1">
            <a class="btn btn-sm btn-warning text-white fullNivalWidth" (click)="eraser()">Borrar</a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 my-1">
            <a class="btn btn-sm btn-danger text-white  fullNivalWidth" (click)="dimissModal()">Cancelar</a>
        </div>
    </div>
</form>

<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>