#imagePerfil{
    height: 20rem;
    min-height: 20rem;
    width: 20rem;
    object-fit: cover;
}
@media screen and (min-width: 0px) and (max-width: 360px){
  #imagePerfil{
    height: 10rem;
    min-height: 10rem;
    width: 10rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 576px){
  #imagePerfil{
    height: 12rem;
    min-height: 12rem;
    width: 12rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px){
  #imagePerfil{
    height: 15rem;
    min-height: 15rem;
    width: 15rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  #imagePerfil{
    height: 20rem;
    min-height: 20rem;
    width: 20rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  #imagePerfil{
    height: 20rem;
    min-height: 20rem;
    width: 20rem;
  }
}