<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mt-4"></a>
</nav>
<div class="container mt-5 container-nival">
    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-7 mx-auto mt-5">
            <div class="text-center">
                <div *ngIf="validate else barra">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-center m-2">
                        <a class="navbar-brand" routerLink="/" style="margin: 0px; padding: 0px;">
                            <img src="../../../assets/logo5.PNG" id="logo" alt="nival">
                        </a>
                    </div>
                    <form [formGroup]="Form" (ngSubmit)="onReset()" class="input-modal">
                        <div class="form-group text-center">
                            <p>Por favor ingrese su correo electrónico para restablecer su
                                contraseña:
                            </p>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="fullNivalWidth">
                                <mat-label>Email</mat-label>
                                <input matInput [type]="'email'" placeholder="Ej: pepito.perez@epn.edu.ec"
                                    spellcheck="false" formControlName="email" required>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success btn-sm" (click)="onReset()" [disabled]="!Form.valid">
                                Enviar
                            </button>
                        </div>
                        <div class="form-group text-center mt-2">
                            <button class="btn btn-primary btn-sm" (click)="back()">Atrás</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>