<header class="masthead mt-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center text-white">
        <h1 class="font-weight-bold">NIVAL</h1>
        <p class="lead font-weight-normal">Easy Attendance Control</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-12 col-md-4 col-lg-4 col-xl-4 mx-auto">
        <img class="card-img-top card-image-nival" src="../../assets/logo_v1.jpeg" alt="logo version 1">
      </div>
      <div class="col-sm-12 col-12 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
          <div class="col-sm-12 col-t12 col-md-9 col-lg-9 col-xl-9 mt-3">
            <h2 class="font-weight-bold text-center">¿Qué es NIVAL?</h2>
            <p class="text-center">Easy Attendance Control es una aplicación pensada en reducir el tiempo que se toma en realizar un
              resgistro
              de asistencia.
              Por lo tanto con el uso de esta aplicación se podrá registrar de forma rápida y automática la asistencia
              de
              los estudiantes
              mediante el uso de códigos de respuesta rápida (QR) en cualquier instante.
            </p>
            <h2 class="font-weight-bold mt-3 text-center">SERVICIOS</h2>
            <ul style="list-style-type: disc;">
              <li><p style="margin: 0px; padding: 0px;">Perfil de usuario</p></li>
              <li><p style="margin: 0px; padding: 0px;">Registro automático y manual de estudiantes</p></li>
              <li><p style="margin: 0px; padding: 0px;">Registro automático y manual de asistencia</p></li>
              <li><p style="margin: 0px; padding: 0px;">Obtención de reportes generales de asistencia</p></li>
              <li><p style="margin: 0px; padding: 0px;">Filtros de búsqueda</p></li>
              <li><p style="margin: 0px; padding: 0px;">Vista de horarios</p></li>
            </ul>
          </div>
          <div class="col-sm-6 col-12 col-md-3 col-lg-3 col-xl-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>