<header class="masthead mt-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center text-white">
        <h1 class="font-weight-bold">NIVAL</h1>
        <p class="lead font-weight-normal">Easy Attendance Control</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container text-center">
    <h2 class="font-weight-bold">SERVICIOS</h2>
    <p>Automatiza el registro de asistencia academica solo con un click</p>
  </div>
</section>

<!--div class="content1"></div-->
<!-- Page Content -->
<section class="py-5">
  <div class="container text-center">
    <h2 class="font-weight-bold">SERVICIOS</h2>
    <p>Automatiza el registro de asistencia academica solo con un click</p>
  </div>
</section>
