.example-container {
  min-width: 83.5vw;
  max-height: 75vh;
  overflow: auto;
}


table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  padding: 5px;
}


a{
  text-decoration: none;
}