.example-container {
  max-height: 70vh;
}


table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  padding: 5px;
}

mat-form-field {
  margin-right: 12px;
}

.example-spacer {
  float:right;
}