<!-- Footer -->
<footer class="page-footer font-small teal pt-4">
    <hr>
    <div class="container">
        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h3 class="text-uppercase font-weight-bold">NIVAL 1.0.0</h3>
                    <p>Desarrollado por estudiantes de la Escuela de Formación de Tecnólogos de la EPN.<br>
                        NIVAL hace referencia al Bubo scandiacus que es una especie de búho que está activo desde el amanecer hasta el anochecer.
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h3 class="text-uppercase font-weight-bold">About US</h3>
                    <p>NIVAL es una aplicación desarrollada con el fin de automatizar el proceso de registro de
                        asistencia mediante el uso de códigos QR, además, facilita de forma rápida y
                        precisa la obtención de reportes de asistencia de cada uno de los cursos que se encuentren
                        registrados en la
                        aplicación.
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: Todos los derechos reservados
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->