<form [formGroup]="materiaForm" (ngSubmit)="onClick()">
    <h2 mat-dialog-title class="pb-1">Materias:</h2>
    <div class="text-center">
        <div *ngIf="validate else barra">
        </div>
    </div>
    <div class="form-group">
        <mat-form-field hintLabel='{{mensaje}}' class="fullNivalWidth">
            <mat-label>Materia</mat-label>
            <input matInput [type]="'text'" autocomplete="off" placeholder="{{placeholder}}" formControlName="materia">
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 my-1">
            <button type="submit" class="btn btn-sm btn-primary fullNivalWidth" [disabled]="!materiaForm.valid"
                [disabled]="!materiaForm.valid">Guardar</button>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 my-1">
            <a class="btn btn-sm btn-warning text-white fullNivalWidth" (click)="eraser()">Borrar</a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-12 my-1">
            <a class="btn btn-sm btn-danger text-white  fullNivalWidth" (click)="dimissModal()">Cancelar</a>
        </div>
    </div>
</form>
<ng-template #barra>
    <div class="pb-2">
        <mat-progress-bar class="input-modal" id="progreesbar" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>